//FONTS
/*font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/

//COLORS
:root {
    --telemagenta: #bb4077;
    --lightgrey: #898d8d;
    --grey: #666666;
    --darkgrey: #383838;
    --transparent_white: rgba(255, 255, 255, 0.866);
    --vertical-dropshadow-down: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

//DESKTOP
body {
    padding: unset;
    margin: unset;
    background-color: var(--darkgrey);
    a {
        text-decoration: unset;
        color: unset;
    }
}

iframe {
    width: 80vw;
    height: 100vh;
    background-color: var(--darkgrey);
    display: block;
    margin: 0 auto;
}

//MAIN BACKGROUND
.main-background {
    background-image: url("../img/background.svg");
    background-color: var(--grey);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

//dynamically change content
.hidden {
    display: none;
}

//HEADER
.navbar {
    height: 100px;
    padding-right: 10px;
    border-radius: unset;
    margin: unset;
    background-color: var(--transparent_white);
    box-shadow: var(--vertical-dropshadow-down);
    font-weight: 600;
    color: var(--lightgrey) !important;

    .nav-item a {
        height: 100px;
        align-items: center;
        display: flex;
    }

    a:hover {
        color: var(--grey);
        text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
        background-color: unset !important;
    }

    .active {
        text-decoration: underline 3px solid var(--telemagenta);
        text-underline-offset: 5px;
        background-color: unset;
    }

    .navbar-brand {
        height: 100%;
        padding-left: 2em;
        img {
            height: 100%;
        }
    }

    .navbar-brand:hover {
        filter: brightness(.8);
    }

    .icon-bar {
        background-color: var(--telemagenta);
    }

    .navbar-toggle {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;        height: 40px;
        top: 20%;
    }

    .navbar-toggle:hover {
        background-color: var(--lightgrey);
    }
}

//MAIN-AREA
.home {
    height: 80vh;

    .teaser-text {
        height: 100%;
        padding: 5%;
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            height: 100%;
        }
    }
    
    @media only screen and (max-width: 900px) {
    .teaser-text {
        padding: 20%;
    }
}
}




//FOOTER
.footer {
    position: fixed;
    background-color: var(--darkgrey);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 80;
    padding: .8em;
     
    .footer-links {
    color: var(--transparent_white) !important;
    z-index: 99;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    margin: unset;
    
        a {
            padding: 0 3vw;
        }
    }

    a:hover {
        color: var(--telemagenta);
        text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
        text-decoration: none;
     }

    .copyright {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: .8em;
        z-index: 99;
        text-align: center;
        color: var(--lightgrey);
        padding-top: .2em;
    }

    .social-block {
        position: fixed;
        bottom: 0px;
        right: 0px;
        width: fit-content;
        z-index: 99;

        #social-wrapper {
            background-image: url("../img/social-block.svg");
            background-repeat: no-repeat;
            background-size: cover;
            padding: 1.5em 5em;

            .social-symbols {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 50%;
                z-index: 99;

                #facebook-icon, #instagram-icon {
                    padding: .1em;
                    height: 3em;
                }

                #follow-us {
                    padding: .5em;
                    height: 3em;
                }

                @media only screen and (max-width: 900px) {
                    #follow-us {
                        display: none;
                    }
                }
            }

            #facebook-icon:hover, #instagram-icon:hover {
                filter: brightness(.7);
            }
        }
    }

    .iso-cert {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: fit-content;
        color: black;
        z-index: 99;

            #iso-wrapper {
                align-items: center;
                display: flex;
                padding: 1em 2em;

            img {
                height: 110px;
            }

            img:hover {
            filter: brightness(.7);
            }
        }
    }
}