//FONTS
/*font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/

//COLORS
:root {
    --telemagenta: #bb4077;
    --lightgrey: #898d8d;
    --grey: #666666;
    --darkgrey: #383838;
    --transparent_white: rgba(255, 255, 255, 0.866);
    --vertical-dropshadow-down: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    --vertical-dropshadow-up: rgba(0, 0, 0, 0.1) 0px -4px 6px -1px, rgba(0, 0, 0, 0.06) 0px -2px 4px -1px;
}

//dynamically change content
.hidden {
    display: none;
}

//DESKTOP
body {
    padding: unset;
    margin: unset;
    background-color: var(--darkgrey);
    a {
        text-decoration: unset;
        color: unset;
        
        &:hover, &:focus, &:active {
            text-decoration: unset;
            color: unset;
            background-color: none !important;
        }
    }
}

//MAIN BACKGROUND
.main-background {
    position: fixed;
    top: 0;
    background-image: url("../img/background.svg");
    background-color: var(--grey);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

//HEADER
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
    padding-right: 10px;
    border-radius: unset;
    margin: unset;
    background-color: var(--transparent_white);
    box-shadow: var(--vertical-dropshadow-down);
    font-weight: 600;
    color: var(--lightgrey) !important;
    z-index: 1000;

    .nav-item a {
        height: 100px;
        align-items: center;
        display: flex;

        &:hover, &:focus {
            color: var(--grey);
            text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
            background-color: unset !important;
        }
        &:active {
            filter: brightness(.5);
        }
    }

    
    .active {
        text-decoration: underline 3px solid var(--telemagenta);
        text-underline-offset: 5px;
        background-color: unset !important;
    }

    .navbar-brand {
        height: 100%;
        padding-left: 2em;
        svg {
            height: 100%;
        }
    }

    .icon-bar {
        background-color: var(--telemagenta);
    }

    .navbar-toggle {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;        
        height: 40px;
        top: 20%;
        z-index: 1100;
        
        &:hover {
            background-color: var(--lightgrey);
        }
    }

      .collapsing, .in {
        position: absolute;
        right: 0;
        padding-top: 70px;
        background-color: var(--transparent_white);
        box-shadow: var(--vertical-dropshadow-down);
        height: 100vh;
    }
}

//MAIN-AREA
//BUTTONS, FORM, etc..
.roundedge-button {
    background-color: var(--telemagenta);
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    border-radius: 8px;
    box-shadow: var(--vertical-dropshadow-down);
}

hr.solid {
    border-top: 3px solid var(--telemagenta);
}

.textdivider {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    color: var(--grey);
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 2em;

    &::before, &::after {
        flex: 1;
        content: '';
        padding: 1px;
        background-color: var(--telemagenta);
        margin: 10px;
    }
}

.list-arrow {
    color: var(--telemagenta);
    margin-right: 5px;
}

.gray-underlay {
    background-color: #898d8d48;
    padding: 15px;
    margin-bottom: 1em;
    border-radius: 8px;
    border: none;
}

input[type=text], select, textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

.asterisk {
    color: var(--telemagenta);
}

//HOME
.home, .about, .products, .references, .jobs, .impressum, .datasec, .contact {
    position: relative;
    padding-top: 100px;
    
    .teaser-text {
        height: 60vh;
        z-index: 60;
        left: 30%;
        top: 50vh;
        transform: translate(-30%, -50%);
        position: absolute;
        
        img {
            height: 100%;
        }
    }

    @media screen and (max-width: 900px) {
        .teaser-text {
            height: 50vh;
            top: 42vh;
            left: 50%;
            transform: translate(-50%, -40%);
        }
    }
}

.impressum, .datasec, .contact, .jobs {
    padding-bottom: 8vh;

    @media screen and (max-width: 768px) {
     padding-bottom: 22vh;
    }
}

//JOBS
.jobs {
    #announcement {
        margin-top: 2em;
        color: var(--grey);
    }

    .job-type {
        margin-left: .8em;
    }

    .bouncing-arrow {
        display: block;
        margin: 0 auto;
        font-size: 1.5em;
        color: var(--telemagenta);
        text-align: center;
    }   
    
    #bouncing-arrow-2 {
        margin-top: -.6em;
        margin-bottom: 2em;
    }
    
    input.form-check-input {
        margin-right: 5px;
    }
    
    .invalid-feedback {
        color: rgb(255, 53, 53);
        margin-top: 5px;
    }

    .roundedge-button {
        width: 100%;
        margin-top: 1em !important;
    }
}

//IMPRESSUM, DATENSCHUTZ, KONTAKT
.textcontainer {
    margin: 3em 10em;
    background-color: var(--transparent_white);
    padding: 3% 5%;
    font-family: 'Roboto', sans-serif;
    color: var(--darkgrey);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    h2 {

        font-family: 'Source Sans Pro', sans-serif;
        color: var(--telemagenta);
        margin-bottom: .5em;
    }


    a {
        color: black;
        &:hover {
            color: var(--telemagenta);
        }
    }

    @media screen and (max-width: 768px) {
        margin: 2em;
        padding: 5%;

        h2 {
            font-size: 1.6em;
        }

        h4 {
            font-size: 1.2em;
        }
    }
}

//KONTAKT
.contact {
    .textcontainer {
        margin-bottom: 0;
    }

    .location {
        width: 100%;
    }

    .img-container {
        margin: 0 10em;

        @media screen and (max-width: 768px) {
            margin: 0 2em;
           }
    }
    //Desktop Icon
    #locSVG {
       background-image: url("../img/location.png");
       background-size: cover;
    }
    //Mobile Icon
    #locSVG-small {
        background-image: url("../img/location-small.png");
        background-size: cover;
    } 

    .fa {
        margin-right: 5px;
        color: var(--telemagenta);
    }

}

//ISOCERT PAGE
#metallzert {
    width: 80vw;
    height: 100vh;
    background-color: var(--darkgrey);
    display: block;
    margin: 0 auto;
}

//SOCIAL-MEDIA LINKS
.social-block {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: fit-content;
    z-index: 99 !important;

    #social-wrapper {
        background-image: url("../img/social-block.svg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1.5em 5em;

        .social-symbols {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 50%;
            z-index: 99;

            #facebook-icon, #instagram-icon {
                padding: .1em;
                height: 3em;
            }

            #follow-us {
                padding: .5em;
                height: 3em;
            }
        }
    }
}

.iso-cert {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: fit-content;
    color: black;
    z-index: 99;

        #iso-wrapper {
            align-items: center;
            display: flex;
            padding: 1em 2em;

        img {
            height: 110px;
        }
    }
}

//MOBILE BEHAVIOUR
.social-footer {
    .expandOnSmall {
        position: fixed;
        bottom: 60px;
        height: 10vh;
        width: 100%;
        z-index: 80;
        background-color: var(--transparent_white);
        box-shadow: var(--vertical-dropshadow-up);
    
        .social-symbols {
            position: absolute;
            height: 80%;
            padding: 3px;
            top: 50%;
            left: 15%;
            transform: translate(-50%, -50%) !important;
            z-index: 70;
    
            #facebook-icon, #instagram-icon {
                position: relative;
                left: 10%;
                height: 100%;
    
                &:hover {
                    filter: brightness(.7);
                }
            }
    
            #follow-us-2 {
                position: relative;
                height: 50%;
                left: 10%;
                padding: 0 .5em 0 1em;
            }
        }
    
        #isocert-icon-small {
            height: 100%;
            padding: 3px 2em 3px 0;
            position: absolute;
            top: 50%;
            left: 90%;
            transform: translate(-50%, -50%) !important;
    
            &:hover {
                filter: brightness(3);
            }
        }
    }
}

//FOOTER
.footer {
    background-color: var(--darkgrey);
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 80;
    padding: .8em;

    .footer-links {
    color: var(--transparent_white) !important;
    z-index: 99;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    margin: unset;
    
        a {
            padding: 0 3vw;
        }   
        
        @media screen and (max-width: 768px) {
            font-size: 1em;
        }
    }

    a:hover {
        color: var(--telemagenta);
        text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
        text-decoration: none;
     }

    .copyright {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: .8em;
        z-index: 99;
        text-align: center;
        color: var(--lightgrey);
        padding-top: .2em;

        @media screen and (max-width: 768px) {
            font-size: .7em;
        }
    }


}

