/*font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/
:root {
  --telemagenta: #bb4077;
  --lightgrey: #898d8d;
  --grey: #666666;
  --darkgrey: #383838;
  --transparent_white: rgba(255, 255, 255, 0.866);
  --vertical-dropshadow-down: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

body {
  padding: unset;
  margin: unset;
  background-color: var(--darkgrey);
}
body a {
  text-decoration: unset;
  color: unset;
}
body a:hover, body a:focus, body a:active {
  text-decoration: unset;
  color: unset;
  background-color: none !important;
}

iframe {
  width: 80vw;
  height: 100vh;
  background-color: var(--darkgrey);
  display: block;
  margin: 0 auto;
}

.main-background {
  background-image: url("../img/background.svg");
  background-color: var(--grey);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
}

.navbar {
  height: 100px;
  padding-right: 10px;
  border-radius: unset;
  margin: unset;
  background-color: var(--transparent_white);
  box-shadow: var(--vertical-dropshadow-down);
  font-weight: 600;
  color: var(--lightgrey) !important;
  z-index: 1000;
}
.navbar .nav-item a {
  height: 100px;
  align-items: center;
  display: flex;
}
.navbar .nav-item a:hover, .navbar .nav-item a:focus {
  color: var(--grey);
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
  background-color: unset !important;
}
.navbar .active {
  -webkit-text-decoration: underline 3px solid var(--telemagenta);
          text-decoration: underline 3px solid var(--telemagenta);
  text-underline-offset: 5px;
  background-color: unset !important;
}
.navbar .navbar-brand {
  height: 100%;
  padding-left: 2em;
}
.navbar .navbar-brand img {
  height: 100%;
}
.navbar .navbar-brand:hover {
  filter: brightness(0.8);
}
.navbar .icon-bar {
  background-color: var(--telemagenta);
}
.navbar .navbar-toggle {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  height: 40px;
  top: 20%;
  z-index: 1100;
}
.navbar .navbar-toggle:hover {
  background-color: var(--lightgrey);
}
.navbar .collapsing, .navbar .in {
  position: absolute;
  right: 0;
  padding-top: 70px;
  background-color: var(--transparent_white);
  height: 100vh;
}

.home {
  height: 80vh;
  position: relative;
}
.home .teaser-text {
  height: 70%;
  z-index: 80;
  left: 30%;
  top: 50%;
  transform: translate(-30%, -50%);
  position: absolute;
}
.home .teaser-text img {
  height: 100%;
}
@media only screen and (max-width: 900px) {
  .home .teaser-text {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
  }
}

.footer {
  position: fixed;
  background-color: var(--darkgrey);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 80;
  padding: 0.8em;
}
.footer .footer-links {
  color: var(--transparent_white) !important;
  z-index: 99;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  margin: unset;
}
.footer .footer-links a {
  padding: 0 3vw;
}
.footer a:hover {
  color: var(--telemagenta);
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
.footer .copyright {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.8em;
  z-index: 99;
  text-align: center;
  color: var(--lightgrey);
  padding-top: 0.2em;
}
.footer .social-block {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 99;
}
.footer .social-block .expandOnSmall {
  position: unset;
  bottom: unset;
  right: unset;
  width: 100vw;
  background-color: white;
  z-index: 1000 !important;
}
.footer .social-block #social-wrapper {
  background-image: url("../img/social-block.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5em 5em;
}
.footer .social-block #social-wrapper .social-symbols {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
  z-index: 99;
}
.footer .social-block #social-wrapper .social-symbols #facebook-icon, .footer .social-block #social-wrapper .social-symbols #instagram-icon {
  padding: 0.1em;
  height: 3em;
}
.footer .social-block #social-wrapper .social-symbols #facebook-icon:hover, .footer .social-block #social-wrapper .social-symbols #instagram-icon:hover {
  filter: brightness(0.7);
}
.footer .social-block #social-wrapper .social-symbols #follow-us {
  padding: 0.5em;
  height: 3em;
}
.footer .iso-cert {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
  z-index: 99;
}
.footer .iso-cert #iso-wrapper {
  align-items: center;
  display: flex;
  padding: 1em 2em;
}
.footer .iso-cert #iso-wrapper img {
  height: 110px;
}
.footer .iso-cert #iso-wrapper img:hover {
  filter: brightness(0.7);
}/*# sourceMappingURL=layout.css.map */